
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml">
<HEAD>

<META http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<TITLE>my first page</TITLE> 
<LINK href="/css/demo.css" rel="stylesheet" type="text/css">
<LINK href="/css/menu.css" rel="stylesheet" type="text/css">

<SCRIPT src="/css/jquery.min.js"></SCRIPT>

<SCRIPT src="/css/menu.js"></SCRIPT>
</HEAD> 
<BODY>

<DIV class="democon">

<DIV class="wrap-menu"> </DIV>

<SCRIPT>
var str = JSON.stringify({{{menu}}});
$( function(){ new AccordionMenu({menuArrs:JSON.parse(str)});} );
</SCRIPT>

<STYLE type="text/css">
.content {float:left; position:absolute; left:204px; margin:0 auto; overflow:auto; width:800px; background:steelBlue; font:12px/1.5 Tahoma,Arial,sans-serif;}
</STYLE>
<DIV class="content">

<p>{{{body}}}</p>
<script>
var str = JSON.stringify({{{menu}}});
document.write(str);
</script>

</DIV>
</DIV>

</BODY>
<p>powered by ut</p>
</HTML>
